/* General */
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: MTCorsiva;
  src: url(./MTCORSVA.ttf);
}
header a, header a:hover, #about-text, .desc a {
	color: white;
}
.container-fluid {
	max-width: 90%;
}

/* Navbar */
#navbar {
	z-index: 1;
}
#xlnavbar .nav-item, #scroll-arrow {
	border-radius: 8px;
	transition: background-color .2s;
}
#xlnavbar .nav-item {
	font-weight: 500;
}
#xlnavbar .nav-item:hover {
	/*color: #eee;*/
	background-color: rgba(120,120,120,0.6);
}
#xlnavbar .navbar-brand, #xlnavbar .nav-item, #scroll-arrow {
	transition: transform .2s;
}
#xlnavbar .navbar-brand:hover, #xlnavbar .nav-item:hover, #scroll-arrow:hover {
	transform: scale(1.1);
}
/* XS Navbar */
#xsnavbar {
  top: 0;
  left: 0;
  right: 0;
	background-color: white;
	height: 100vh;
	transition: height .2s;
}
#xsnavbar a {
	color: black;
	margin: 0 20px;
}

/* Main (About Me) */
#about {
	background-image: url(./images/Background2.jpg);
  background-size: cover;
  background-position: center bottom;
	position: relative;
	padding: 270px 0;
	width: 100%;
	height: 100vh;
	text-align: center;
}
#about-text h1 {
	font-size: 50px;
}
#about-text h2 {
	font-weight: 350;
}
#scroll-arrow {
	font-size: 25px;
	color: white; 
	position: absolute; 
	bottom: 40px;
}

/* Portfolio */
#portfolio {
	padding: 40px 0;
}
.portfolio-cat {
	/*border: 3px solid #ddd;*/
	border-radius: 10px;
	margin: 40px 0;
	padding: 20px;
	background-color: #111;
	color: white;
}
.project-display {
	margin-top: 20px;
}
.img img {
	width:100%;
	transition: transform .2s;
}
.img:hover img {
	transform: scale(1.01)
}
.desc p a {
	font-weight: 500;
}

/* Contact */
#contact {
	border-top: 1px solid black;
	padding: 80px 0;
	text-align: center;
	background-color: #111;
}
#contact a, #contact h5, #contact h2 {
	color: white;
}
#contact h2 {
	margin-bottom: 40px;
}
#contact h5 {
	font-weight: 300;
	margin-bottom: 40px;
}
#social a {
	font-size: 25px;
	margin-left: 20px;	
}

/* Footer */
footer {
	border-top: 1px solid #333;
	text-align: center;
	background-color: black;
	color: #bbb;
	font-weight: 200;
}

@media (min-width: 768px) {
	#xsnavbar {
    display: none !important;
  }
}
@media (max-width: 767px) {
	.container-fluid {
		max-width: 98%;
	}
	#about {
		padding: 130px 0;
	}
	#about-text h1 {
		font-size: 40px;
	}
	#about-text h2 {
		font-weight: 350;
	}
	#name {
		display: block;
		margin: 15px 0;
	}
	#portfolio {
		padding: 20px 0;
	}
	.portfolio-cat {
		padding: 20px 10px;
		margin: 20px 0;
	}
}
  