/* General */
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: MTCorsiva;
  src: url(./MTCORSVA.ttf);
}
header a, header a:hover, #about-text, .desc a, #scroll-arrow, .portfolio-cat, #contact * {
	color: white;
}
#xlnavbar .navbar-brand, #xlnavbar .nav-item, #scroll-arrow, #social i {
	transition: transform .2s;
}
#xlnavbar .navbar-brand:hover, #xlnavbar .nav-item:hover, #scroll-arrow:hover, #social i:hover {
	transform: scale(1.1);
}
.container-fluid {
	max-width: 90%;
	margin: 0 auto;
}

/* Navbar */
#navbar {
	z-index: 1;
}
#xlnavbar .nav-item {
	border-radius: 8px;
	font-weight: 500;
	background-color: none;
}
#xlnavbar .nav-item:hover {
	background-color: rgba(120,120,120,0.3);
}

/* XS Navbar */
#xsnavbar {
  top: 0;
  left: 0;
  right: 0;
	background-color: white;
	height: 100vh;
	transition: height .2s;
}
#xsnavbar a {
	font-size: 20px;
	font-weight: 500;
	color: black;
	margin: 0 12px;
}
#xsnavbar.collapsed {
	height: 0;
}

/* Main (About Me) */
#about {
	background-image: url(./images/Background2.jpg);
  background-size: cover;
  background-position: center bottom;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 35vh 0 0;
	overflow: hidden;
}
#about-text {
	text-align: center;
	padding: 0 20px;
}
#about-text h1 {
	font-size: 50px;
}
#about-text h2 {
	font-weight: 350;
}
#name {
	font-family: MTCorsiva;
}
#name .uppercase {
	font-size: 80px;
}
#name .lowercase {
	font-size: 50px;
}
#scroll-arrow {
	font-size: 25px;
	position: absolute; 
	bottom: 40px;
	left: 49%;
}

/* Portfolio */
#portfolio {
	padding: 40px 0;
}
.portfolio-cat {
	/*border: 3px solid #ddd;*/
	border-radius: 10px;
	margin: 40px 0;
	padding: 20px;
	background-color: #111;
}
.project-display {
	margin-top: 20px;
}
.img img {
	width: 100%;
	transition: transform .2s;
}
.img:hover img {
	transform: scale(1.01)
}
.desc p a {
	font-weight: 500;
}

/* Contact */
#contact {
	border-top: 1px solid black;
	padding: 80px 0;
	text-align: center;
	background-color: #111;
}
#contact h2 {
	margin-bottom: 40px;
}
#contact h5 {
	font-weight: 300;
	margin-bottom: 40px;
}
#social a {
	font-size: 25px;
	margin-left: 20px;	
}

/* Footer */
footer {
	border-top: 1px solid #222;
	text-align: center;
	background-color: black;
	color: #bbb;
	font-weight: 200;
}

@media (min-width: 768px) {
	#xsnavbar {
    display: none !important;
  }
}
@media (max-width: 767px) {
	.container-fluid {
		max-width: 98%;
	}
	#about {
		padding: 20vh 0;
	}
	#about-text h1 {
		font-size: 40px;
	}
	#about-text h2 {
		font-weight: 350;
	}
	#name {
		display: block;
		margin: 15px 0;
	}
	#scroll-arrow {
		left: 48%;
	}
	#portfolio {
		padding: 20px 0 0;
	}
	.portfolio-cat {
		padding: 20px 10px 7px;
		margin: 20px 0;
	}
	.desc {
		margin-top: 10px;
	}
}
@media (max-width: 270px) {
	#about {
		padding: 28vh 0 0;
	}
	.redundant-text, #about-text h2 {
		display: none;
	}
}
@media (max-height: 400px) {
	#scroll-arrow {
		display: none;
	}
}	